.tdWait {
    background-color: rgb(226, 198, 165)
}

.tdReg {
    background-color: rgb(155, 185, 204)
}

.tdApp {
    background-color: rgb(247, 121, 136)
}

.tdInt {
    background-color: rgb(173, 151, 237)
}

.rct-label-group {
    background-color: #127696 !important
}

.rct-sidebar-header {
    background-color: #127696 !important
}