.camp_pic {
    height: 300px;
    width: auto;
}

.camp_contacts {
    padding: 0px 8px;
}

h1 {
    text-align: center;
}

.socialMedia {
    height: 36px;
    padding: 6px;
}

.campButton {
    margin: 8px !important;
}