.tdWait {
    background-color: rgb(226, 186, 165)
}

.tdReg {
    background-color: rgb(155, 185, 204)
}

.tdApp {
    background-color: rgb(247, 121, 136)
}

.tdInt {
    background-color: rgb(173, 151, 237)
}