.nav-title {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 25px;
    /* padding-bottom: 0px;
    padding-top: 0px; */
    font-family: 'Oswald', sans-serif;
}

.nav {
  /* overflow: hidden; */
  background-color: #098fa3;
  font-family: 'Oswald', sans-serif;
  color: white;
  float: right;
}

.nav-link {
  font-size: 20px;
  /* display: inline-block; */
  color: #f2f2f2;
  text-align: right;
  /* padding: 24px 10px;
  padding-right: 10px; */
 text-decoration: none; 
 float: right;
  /* font-size: 15px;  */



  

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
 
}

.nav-link:hover {
  background-color: #127c96;
}

.nav-right {
  float: right;
}